<ul>
    <% if(categories.length>0 && categoryIndex !== 'update') { %>
        <% categories.forEach( (e)=>{ %>
            <li class="levelLink">
                <a href="/all/<%= e.id %>">
                    <%= `${e.category.toUpperCase()} `%>
                </a>
                <br>
                <div class="smallButtonsSet">
                    <div>
                        <button 
                        onclick="{
                            update('<%= e.id %>');
                            }" >UPDATE  </button>
                    </div>   
                    <div>
                        <form action="/deletecategory/<%= e.id %>" method="POST" >
                            <button type="submit" 
                              onclick="{
                                return confirm('are you sure Delete this?');
                                }">DELETE</button>
                          </form>
                        
                    </div>             
                    
                </div>
            </li>
           
            <% }) %>
                <% } else {%>
                    <%- include('./update.ejs') %>
                
                <% } %>

                    <li class="levelLink">
                        <a href="/all">
                            ALL CATEGORIES
                        </a>
                    </li>

                    <% if ( categoryIndex === "add") {%>
                        <li id="newCategoryDiv" class="levelLink">
                            <form action="/newcategory" method="POST"> 
                                 <label for="namecategory">NEW CATEGORY: </label>
                                 <input type="text" id="namecategory" name="newcategory" />
                                 <%- include('./errors.ejs') %>
                                 <button class="submitCategory">Submit</button>
                             </form>
                         </li>
                    <% } else { %>
                        <%= null %>
                        <% }%>
                    
                           

    </ul>
    
