<!-- index.ejs -->
<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="content">
      <div>
        <div>
          <h1><%= appObject.appName %></h1>
          <h2>Many courses <i>Start learning this beautiful art</i></h2>
        </div>
        <a href="/">Back to Home</a>
      </div>
      <% if (deleteCategMessage!==undefined){ %>
      <p style="color: red; text-align: center">
        <%= deleteCategMessage %></p>
      <% } else { %> 
        <% null %> 
        <% } %>
      <div>
        <section>
          <nav><%- include('./partials/navbar.ejs') %></nav>
        </section>
        <div class="setOfButtons">
          <button id="newCategory">Add Category</button>
          <div>
            <button id="newCourse">ADD NEW COURSE</button>
          </div>
        </div>
      </div>

      <% if (needCredential===true){ %> 
        <%- include('./partials/credential.ejs') %> 
        <% } else { %> 
        <% null %> 
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
      // new course
      let deleteCategMessage = undefined;

      const newCourseButton = document.getElementById('newCourse');

      newCourseButton.addEventListener('click', (e) => {
        window.location.href = '/newcourse';
      });

      // new category
      const newCategoryButton = document.getElementById('newCategory');

      newCategoryButton.addEventListener('click', (e) => {
        window.location.href = '/newcategory';
      });

      // update category

      function update(arg1) {
        // arg1 is the id category
        checkCredentials(`${arg1}`, 'category', 'update');
      }

      async function checkCredentials(arg1, arg2, arg3) {
        // arg1 is the id the arg2 is the type (category/item) arg3 is the action (delete/update)
        window.location.href = `/credentials/${arg3}_${arg2}_${arg1}`;
      }
    </script>
  </body>
</html>
