<html>

<%- include('./partials/head.ejs') %>

    <body>

        <div class="content">
            <div>
                <div>
                    <h1><%= appObject.appName %></h1>
                    <h2>Many courses <i>Start learning this beautiful art</i></h2>
                </div>
                <a href="/">Back to Home</a>
            </div>
            
            <div class="itemsSection">
            
            <p class="levelLink"><%= category.toUpperCase() %></p>

            <section>
              
                <ul class="ulItem">
                    <% if(courses.length>0) { %>
                        <% courses.forEach( (item) => { %>
                            <li class="item">
                                <p style="text-shadow: 1px 1px 2px orange;">&#9856</p>
                                <h2><%= item.name %></h2>
                                <p><%= item.category %></p>
                                <p><%= item.type %></p>
                                <h3><%= item.levelname %></h3>
                                <div style="display:flex; flex-direction: row;gap:10px">
                                 
                                    <button id="updateButton"
                                         onclick="{
                                            update('<%= item.id %>');
                                                }" >UPDATE  </button>

                                    <form action="/credentials/delete_item_<%= item.id %>" method="GET" > 
                                        <button type="submit" id="deletebutton"
                                                onclick="{
                                                return confirm('Are you sure about delete this?');   
                                            }">DELETE</button>
                                    </form> 
                                    
                                </div>
                               
                            </li>
                           
                            <% }); %>
                                <% } else {%>
                                    <p> No items for display </p>
                                    <% } %>
            </section>
                
                
            </div>
            
            

        </div>
        
        <div>
            <button id="newCourse">ADD NEW COURSE</button>
        </div>
            
            <%- include('./partials/footer.ejs') %>

            <script>
                const newCourseButton= document.getElementById('newCourse');
                
                newCourseButton.addEventListener('click', (e) => {
                    window.location.href= "/newcourse" ;
                });

                // update course item
               
                function update(arg1){
                    // arg1 is the id category 
                    checkCredentials(`${arg1}`,'item','update');
                };

                async function checkCredentials(arg1,arg2,arg3){
                    // arg1 is the id the arg2 is the type (category/item) arg3 is the action (delete/update)
                    window.location.href= `/credentials/${arg3}_${arg2}_${arg1}` ; 
                }

            </script>
            

    </body>

</html>